<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>myuserServlet</servlet-name>
  	<display-name>myuserServlet</display-name>
  	<description></description>
  	<servlet-class>com.hms.user.servlet.myuserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyNewServlet</servlet-name>
  	<display-name>MyNewServlet</display-name>
  	<description></description>
  	<servlet-class>com.hms.user.servlet.MyNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>myuserServlet</servlet-name>
  	<url-pattern>/myuserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyNewServlet</servlet-name>
  	<url-pattern>/MyNewServletRegisterUser</url-pattern>
  </servlet-mapping>
</web-app>
